@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body { 
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ecf0f1;
    text-align: center;

    
}

.navbar-default {
    background: #ecf0f1;
}


.jumbotron {
    text-align: center;
    background: #ecf0f1;
}


