@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body { 
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fafafa;
    text-align: center;
    height: 100%;

    
}

.navbar-default {
    background: #fafafa;
}


.jumbotron {
    text-align: center;
    background: #fafafa;
}

#posts  {
    height: 100%;
     margin-bottom: -50px;
}

.footer {
    height: 50px;
    padding: 10px;
}

